@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 1080px;
}

.flex {
  display: flex;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

.main {
  width: 1920px;
  height: 1080px;
  flex-direction: row;
}

.left-side {
  flex: 50%;
}
.left-side .photo img {
  width: 100%;
  height: 996px;
}
.left-side .quote {
  position: absolute;
  width: 615px;
  height: 83px;
  left: 117px;
  top: 261px;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: #212529;
}
.left-side .author {
  position: absolute;
  width: 266px;
  height: 33px;
  left: 466px;
  top: 376px;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #093F68;
}
.left-side .top {
  background-color: #7025fb;
  height: 84px;
  display: flex;
  align-content: center;
  padding-left: 80px;
  padding-top: 18px;
}
.left-side .top img {
  height: 25px;
  margin-top: 5px;
  margin-right: 5px;
}
.left-side .text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 3px;
}

.right-side {
  flex: 50%;
}
.right-side .account {
  justify-content: flex-start;
  padding-left: 47px;
  padding-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #212529;
}
.right-side .line {
  position: absolute;
  border: 1px solid rgba(185, 180, 196, 0.3);
  width: 960px;
  top: 84px;
}
.right-side .switch-parent {
  position: absolute;
  width: 366px;
  height: 65px;
  left: 1008px;
  top: 144px;
}
.right-side .switch-parent .text-personal {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  width: 170px;
  height: 24px;
  left: 0px;
  top: 44px;
}
.right-side .switch-parent .text-chess {
  position: absolute;
  width: 145px;
  height: 24px;
  left: 235px;
  top: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.right-side .switch-parent .switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 262px;
  height: 40px;
  left: 59px;
  top: 0px;
}
.right-side .switch-parent .switch .personal-info {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right-side .switch-parent .switch .personal-info h3 {
  position: absolute;
  width: 11px;
  height: 25px;
  left: 14px;
  top: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #212529;
}
.right-side .switch-parent .switch .connector {
  width: 174px;
  height: 0px;
  border: 1px solid rgba(185, 180, 196, 0.3);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.right-side .switch-parent .switch .experience {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  border: 1px solid #e5e6e8;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.right-side .switch-parent .switch .experience h3 {
  position: absolute;
  width: 11px;
  height: 25px;
  left: 237px;
  top: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #95939a;
}
.right-side .title {
  position: absolute;
  left: 1008px;
  top: 324px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.right-side .title .title-main {
  font-size: 32px;
  color: #000000;
}
.right-side .title .sub-title {
  font-size: 14px;
  color: #95939a;
  margin-top: 10px;
}
.right-side .levelSelector {
  position: absolute;
  width: 392px;
  height: 46px;
  left: 961px;
  top: 491px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  cursor: pointer;
}
.right-side .levelSelector p {
  font-size: 22px;
  font-family: "Open Sans";
}
.right-side #levelSelectField {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.right-side #levelSelectField img {
  width: 12px;
  transition: transform 0.3s;
}
.right-side #levelList {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.right-side li:hover {
  background: rgba(185, 180, 196, 0.3);
}
.right-side .levelOptions {
  height: 72px;
  width: 100%;
  padding: 15px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
}
.right-side .levelOptions img {
  width: 75px;
  height: 62px;
  position: absolute;
  top: 12px;
  left: 300px;
}
.right-side .selector {
  position: absolute;
  width: 392px;
  height: 46px;
  left: 1376px;
  top: 491px;
  background-color: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 6px;
}
.right-side .selector p {
  font-size: 22px;
  font-family: "Open Sans";
}
.right-side .selector #selectField {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.right-side .selector #selectField img {
  width: 12px;
  transition: transform 0.3s;
}
.right-side .selector #list {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.right-side .selector li:hover {
  background: rgba(185, 180, 196, 0.3);
}
.right-side .selector .options {
  height: 72px;
  width: 100%;
  padding: 15px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
}
.right-side .selector .options img {
  width: 75px;
  height: 62px;
  position: absolute;
  top: 12px;
  left: 300px;
}
.right-side .selector .rotate {
  transform: rotate(180deg);
}
.right-side .hide {
  visibility: hidden;
}
.right-side .button-back :hover {
  background: rgba(185, 180, 196, 0.3);
  cursor: pointer;
}
.right-side .back {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 24px;
  gap: 10px;
  position: absolute;
  width: 93px;
  height: 53px;
  left: 1008px;
  top: 873px;
  border: 1px solid #212529;
  border-radius: 8px;
  background-color: white;
}
.right-side .back a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 45px;
  height: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right-side .back a h2 {
  width: 45px;
  height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #212529;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right-side .next-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 24px;
  gap: 10px;
  position: absolute;
  width: 128px;
  height: 53px;
  left: 1618px;
  top: 873px;
  background: #212529;
  border-radius: 8px;
}
.right-side .next-button .next {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 80px;
  height: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right-side .next-button .next h2 {
  width: 44px;
  height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right-side .next-button:hover {
  background: #212529;
  border: 4px solid rgba(194, 165, 249, 0.8);
  border-radius: 8px;
  cursor: pointer;
}

/*# sourceMappingURL=chess.css.map */
