@import "./reset";
@import "./pallete";
@import "./shared";

.landing {
  flex-direction: row;
  width: 1920px;
  height: 1080px;
}
.left-side {
  flex: 50%;
}
.photo {
  img {
    width: 100%;
    height: 996px;
  }
}

.right-side {
  flex: 50%;
  background-color: #fd5334;
  width: 100%;
  h1 {
    position: absolute;
    padding-top: 270px;
    color: white;
    font-size: 80px;
    padding-left: 75px;
  }
  h2 {
    padding-top: 310px;
    padding-left: 600px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #212529;
  }
  button {
    width: 170px;
    height: 45px;
    background-color: black;
    margin-left: 85px;
    margin-top: 250px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);
  }
  button:hover {
    border-color: #7025fb;
    cursor: pointer;
  }
}
.top {
  background-color: $top-color;
  height: 84px;
  display: flex;
  align-content: center;
  padding-left: 80px;
  padding-top: 18px;
  img {
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .text {
    font-family: "Nunito";
    font-size: 25px;
    color: white;
    margin-top: 8px;
  }
}
