@import "./reset";
@import "./shared";
@import "./pallete";

.landing {
  flex-direction: row;
  width: 1920px;
  height: 1080px;
}
.left-side {
  flex: 50%;
  .photo {
    img {
      width: 100%;
      height: 996px;
    }
  }
  .top {
    background-color: $top-color;
    height: 84px;
    display: flex;
    align-content: center;
    padding-left: 80px;
    padding-top: 18px;
    img {
      height: 25px;
      margin-top: 5px;
      margin-right: 5px;
    }
  }
  .text {
    font-family: "Nunito";
    font-size: 25px;
    color: white;
    margin-top: 8px;
  }
  .quote {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #212529;
    position: absolute;
    width: 423px;
    height: 83px;
    left: 132px;
    top: 335px;
  }
  .author {
    position: absolute;
    width: 222px;
    height: 33px;
    left: 132px;
    top: 442px;

    font-family: "Nunito";
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #e5e6e8;
  }
}
.right-side {
  flex: 50%;
  .account {
    justify-content: flex-start;
    padding-left: 47px;
    padding-top: 30px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #212529;
  }
  .line {
    position: absolute;
    border: 1px solid rgba(185, 180, 196, 0.3);
    width: 960px;
    top: 84px;
  }
  .switch-parent {
    position: absolute;
    width: 366px;
    height: 65px;
    left: 1008px;
    top: 144px;
    .text-personal {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      position: absolute;
      width: 158px;
      height: 24px;
      left: 0px;
      top: 44px;
    }
    .text-chess {
      position: absolute;
      width: 151px;
      height: 24px;
      left: 235px;
      top: 44px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    .switch {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 4px;
      position: absolute;
      width: 262px;
      height: 40px;
      left: 59px;
      top: 0px;
      .personal-info {
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        background: #ffffff;
        border: 1px solid #e5e6e8;
        border-radius: 8px;
        flex: none;
        order: 0;
        flex-grow: 0;
        h3 {
          position: absolute;
          width: 11px;
          height: 25px;
          left: 14px;
          top: 8px;

          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: #212529;
        }
      }
      .connector {
        width: 174px;
        height: 0px;
        border: 1px solid rgba(185, 180, 196, 0.3);
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .experience {
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        background: #f5f5f5;
        border: 1px solid #e5e6e8;
        border-radius: 8px;
        flex: none;
        order: 2;
        flex-grow: 0;
        h3 {
          position: absolute;
          width: 11px;
          height: 25px;
          left: 237px;
          top: 8px;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: #95939a;
        }
      }
    }
  }
  .title {
    position: absolute;
    left: 1008px;
    top: 324px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    .title-main {
      font-size: 32px;
      color: #000000;
    }
    .sub-title {
      font-size: 14px;
      color: #95939a;
      margin-top: 10px;
    }
  }
  .form {
    width: 775px;
    height: 445px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 40px;
    margin-top: 481px;
    margin-left: 48px;
    .name {
      width: 775px;
      height: 46px;
      background: #ffffff;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      flex: none;
      order: 0;
      flex-grow: 0;
      border: 2px solid #f0f0f0;
      background-color: transparent;
      resize: none;
      outline: none;
      font-size: 16px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      padding-left: 12px;
    }
    .name:hover {
      background: rgba(185, 180, 196, 0.3);
      border-radius: 8px;
      cursor: pointer;
    }
    .email {
      width: 775px;
      height: 46px;
      background: #ffffff;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      flex: none;
      order: 1;
      flex-grow: 0;
      border: 2px solid #f0f0f0;
      background-color: transparent;
      resize: none;
      outline: none;
      font-size: 16px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      padding-left: 12px;
    }
    .email:hover {
      background: rgba(185, 180, 196, 0.3);
      border-radius: 8px;
      cursor: pointer;
    }
    .tel {
      width: 775px;
      height: 46px;
      background: #ffffff;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      flex: none;
      order: 2;
      flex-grow: 0;
      border: 2px solid #f0f0f0;
      background-color: transparent;
      resize: none;
      outline: none;
      font-size: 16px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      padding-left: 12px;
    }
    .tel:hover {
      background: rgba(185, 180, 196, 0.3);
      border-radius: 8px;
      cursor: pointer;
    }
    .date {
      width: 775px;
      height: 46px;
      background: #ffffff;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      flex: none;
      order: 1;
      flex-grow: 0;
      border: 2px solid #f0f0f0;
      background-color: transparent;
      resize: none;
      outline: none;
      font-size: 16px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      padding-left: 12px;
    }
    .date:hover {
      background: rgba(185, 180, 196, 0.3);
      border-radius: 8px;
      cursor: pointer;
    }

    .button-back {
      align-self: flex-start;
      justify-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 93px;
      height: 53px;
      border: 1px solid #212529;
      border-radius: 8px;
      a {
        width: 93px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h2 {
        width: 45px;
        height: 27px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-transform: capitalize;
        color: #212529;
      }
    }
    .button-back:hover {
      cursor: pointer;
      background: $hover-gr;
    }

    .button {
      position: absolute;
      left: 1655px;
      top: 944px;
      width: 128px;
      height: 53px;
      background: #212529;
      border-radius: 8px;
      z-index: 0;
      img {
        width: 85px;
        height: 35px;
        padding: 2px 5px;
      }
      a {
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }

    .button:hover {
      background: #212529;
      border: 4px solid rgba(194, 165, 249, 0.8);
      border-radius: 8px;
      cursor: pointer;
    }
    small {
      color: #e74c3c;
      visibility: hidden;
    }
    .form-control.success input {
      border-color: #2ecc71;
    }
    .form-control.error input {
      border-color: #e74c3c;
    }
    .form-control.error small {
      color: #e74c3c;
      visibility: visible;
      font-family: "Open Sans";
      font-size: 22px;
    }
  }
}
